<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{p.subject}}
    </div>

    <div class="post-date">
    by {{p.author}} <br>
      {{p.created.strftime("%b %d, %Y")}}
      <BR>
      <a class="login-link" href="/{{p.key().id()}}/editpost">
      <input type="button" value="edit"></a>
      <a class="login-link" href="/{{p.key().id()}}/deletepost">
        <input type="button" value="delete">
      </a>
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>

  <div class="post-foot">
  likes for post = {{p.likes}}
  <br>
  <a class="login-link" href="/{{p.key().id()}}/togglelike">
  <input type="button" value="like/unlike post"></a>
  <a class="login-link" href="/{{p.key().id()}}/addcomment">
  <input type="button" value="add comment"></a>
  </div>
</div>
